<!DOCTYPE html>
<html>
<%- include('partials/header'); %>

<body>
  <div>
    <h1>Signin</h1>
    <form action="/users/signin" method="POST">
      <p>
        E-Mail Address<input type="email" id="email">
      </p>
      <p>
        Password<input type="password" id="password">
      </p>
      <p>
        <input type="checkbox" id="remember">Remember Me
      </p>
      <input type="submit" value="Signin">
    </form>
  </div>
</body>

</html>