<!DOCTYPE html>
<html>
<%- include('partials/header'); %>

<body>
  <div>
    <h1>Signup</h1>
    <form action="/users/signup" method="POST">
      <p>
        Name<input type="text" id="username">
      </p>
      <p>
        E-Mail Address<input type="email" id="email">
      </p>
      <p>
        Password<input type="password" id="password">
      </p>
      <p>
        Confirm Password<input type="password" id="con-password">
      </p>
      <input type="submit" value="Signup">
    </form>
  </div>
</body>

</html>