<head>
    <title>Login App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <nav>
        <p>
            <a href="/users/signin">Signin</a>
            <a href="/users/signup">Signup</a>
        </p>
    </nav>
</head>